.ArticleListItem-container {
  height: 250px;
}

.PromoImage-container {
  width: 200px;
  margin-right: 25px;
  float: left;
}

/* 
.Headline {
  float: left;
}
*/

.PromoImage-container:after {
  clear: both;
}